<?php

return [

    /*
    |--------------------------------------------------------------------------
    | Migrations Directory
    |--------------------------------------------------------------------------
    |
    |  By default, migrations are stored inside 'migrations/' directory.
    |  However, you can tweak it to your own desire.
    |
    */

    'migrations_dir' => 'migrations/',



    /*
    |--------------------------------------------------------------------------
    | Database Connections
    |--------------------------------------------------------------------------
    |
    |  Initialize your database parameters
    |
    */

    'host'      => 'localhost',
    'port'      => '3306',
    'database'  => '',
    'username'  => 'root',
    'password'  => '',

];